body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #050c1a;
  color: white;
}

h1, h2, h3, .brand-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}